@model IEnumerable<FirstMVC.Models.CollectionCardView>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Card.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Card.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Card.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Card.Psa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Card.BuyDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Card.CurrentPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Card.Specialty)
            </th>
            <th>Collections</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Card.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Card.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Card.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Card.Psa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Card.BuyDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Card.CurrentPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Card.Specialty)
                </td>
                <td>
                    @if (item.Collections != null && item.Collections.Any())
                    {
                        foreach (var collection in item.Collections)
                        {
                            <span>@collection.Name</span>

                            <br />
                        }
                    }
                    else
                    {
                        <span>No Collections</span>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Card.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Card.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Card.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>